# AWS ALB DNS names
APP_URL=bookstore-dev-ExternalALB-233468417.us-east-1.elb.amazonaws.com
BACKEND_URL=internal-bookstore-dev-InternalALB-582380631.us-east-1.elb.amazonaws.com:3000

#db connection string
DATABASE_URL=mysql://root:godisking@bookstore-db-dev-instance2.czi4mu2skxfm.us-east-1.rds.amazonaws.com:3306/BookStore
IS_DEBUGGING=true